<div style="background-color: darkgrey;">
    {% extends 'base/navbar.html'%}
{%load static %}

{% block body%}

 <div class="container">
        <div class="container" style="background-color: #fff; margin-top: 10%; padding: 10px 15px; width:fit-content ; height:fit-content">
            <div class="text-center">
                <h2>Verify your Account</h2>
            </div>
            <br/>
              {% for message in messages%}

                    <div class="alert {{message.tags}} alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="True">&times;</span>
                      </button>
                      &nbsp;{{message}}

                  </div>
                   {%endfor%}
            <form class="mt-5" method="post" onsubmit="submmit()" action="{%url 'base:verify-account'%}" enctype="multipart/form-data">
                {% csrf_token %}

                <label ><b>Enter your Otp code here:</b></label>
                <input class="login-input form-control-md" type="number"  autocomplete="off" placeholder="Enter your otp here"  name="otp" id="confirm" required>
                <p>your otp code has been sent to your registered number</p>


                <hr>

                <br/>
                <input type="submit" id="subb" class="btn btn-success"  value="Verify" name="" id="">

            </form>
        </div>

    </div>



<script>
    function submmit(){

var sub= document.getElementById("subb");
sub.value='Loading....';
sub.disabled=true;


 }
</script>


{% endblock%}
</div>
