<div style="background-color: darkgrey;">
    {% extends 'base/navbar.html'%}
{%load static %}

{% block body%}
<div class="container">
        <div class="container" style="background-color: #fff; margin-top: 5%; padding: 10px 15px; width:fit-content ; height:fit-content">
            <div class="text-center">
                <h2>Goods Sent for Delivery</h2>
            </div>
           <hr/>
            {% for i in getproposal %}
            <div class="shadow-sm proposal">

                <i style="font-size:24px" class="fa ml-3">&#xf003;</i> <span class="ml-1" style="font-size: 20px; text-align: left;"><strong>{{i.rideName}}</strong> </span>
                <p class="mt-1" style="font-size: 17px; margin-left: 35px;"><i class='far fa-clock' ></i> {{i.update|timesince}} ago</p>
                <p style="font-size: 20px; margin-left: 35px;">{{i.goodsDescription|truncatewords:11}}</p>
                 {% if i.deliver %}
                <p style="color:green;margin-left: 35px"><strong>Delivered</strong> </p>
                {%else%}
                <p style="color:red;margin-left: 35px"><strike>Pending Delivery</strike> </p>
                {%endif%}
                <a href="{% url 'base:delivered' i.id %}" style="width: 100%;" class="btn btn-success">View more</a>

            </div>
            <hr style="color: #333;"/>
            {%empty%}
            <h5>You have not sent a goods so far, if you have a goods <br/>to send you can browse through<br/> the dispatch rider available close to you</h5>
                <br/>
            {%endfor%}






        </div>

    </div>


    {%endblock%}
</div>