<div style="background-color: darkgrey;">
    {% extends 'base/navbar.html'%}
{%load static %}
    {% load humanize%}

{% block body%}
<div class="container">
        <div class="container" style="background-color: #fff; margin-top: 10%; padding: 10px 15px; width:fit-content ; height:fit-content">
            <div class="text-center">
                <h2>My Profile</h2>
            </div>
             {% for message in messages%}

                    <div class="alert {{message.tags}} alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="True">&times;</span>
                      </button>
                      &nbsp;{{message}}

                  </div>
                   {%endfor%}

            <form class="mt-5" method="post" action="{%url 'base:ride'%}" enctype="multipart/form-data">
                {% csrf_token %}
                 <label ><strong>Wallet Balance</strong> </label><br/>
                <select class="login-input">
                    <option class="">&#8358; {{pro.wallet|intcomma}}</option>
                </select>
                <a href="{% url 'base:Fund-wallet'%}" class="btn btn-success mt-2">Fund wallet</a>
                <br>
                <label class="mt-2"><strong>Full Name </strong> </label><br/>
                <input type="text" class="login-input" value="{{pro.fullName}}" name="fullName" ><br/>


                <label ><strong>Phone number</strong> </label><br/>
                <input type="text" value="{{pro.phoneNumber}}" class="login-input" name="number" >
                <br/>
                 <label ><strong>State</strong> </label><br/>
                <input type="text" value="{{pro.state}}" class="login-input" name="state" ><br>
                 <label ><strong>Local Government Area</strong> </label><br/>
                <input type="text" value="{{pro.localGoverment}}"  class="login-input" name="lga" >
                <br>
                 <label ><strong>Email Address</strong> </label><br/>
                <input type="email" value="{{pro.email}}" class="login-input" name="lga" >
                <br>
                 <label ><strong>Gender</strong> </label><br/>
                 <select class="login-input">
                    <option class="disabled"> {{pro.gender}} (selected)</option>
                      <option class="">Male</option>
                         <option class="">Female</option>
                </select>
                <br/>

                  <label ><strong>House Address</strong> </label><br/>
                <input type="text" value="{{pro.address}}" class="login-input" name="address" >
                <br>

                <hr/>

                <input style="width: 100%;" type="submit" class="btn btn-success"  value="Update Profile" name="" id="">







            </form>
        </div>

    </div>

    {%endblock%}
</div>