<div style="background-color: darkgrey;">
    {% extends 'base/navbar.html'%}
     {% block proposal_received%}
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'base:proposal-receive'%}">Proposal Received ({{proposalr}})</a>
                  </li>
                  {%endblock%}
{%load static %}

{% block body%}
<div class="container">
        <div class="container" style="background-color: #fff; margin-top: 5%; padding: 10px 15px; width:fit-content ; height:fit-content">
            <div class="text-center">
                <h2>Proposal Recived</h2>
            </div>
           <hr/>
            {% for i in getproposal %}
            <div class="shadow-sm proposal">

                <i style="font-size:24px" class="fa ml-3">&#xf003;</i> <span class="ml-1" style="font-size: 20px; text-align: left;"><strong>{{i.senderName}}</strong> </span>
                <p class="mt-1" style="font-size: 17px; margin-left: 35px;"><i class='far fa-clock' ></i> {{i.update|timesince}} ago</p>
                <p style="font-size: 20px; margin-left: 35px;">{{i.goodsDescription|truncatewords:11}}</p>
                <a href="{% url 'base:acceptProposal' i.id %}" style="width: 100%;" class="btn btn-success">View more</a>

            </div>
            <hr style="color: #333;"/>
            {%empty%}
            <h5>You haven't received any proposal so far, we will let you<br/>know if you have any goods to deliver </h5>
            {%endfor%}






        </div>

    </div>


    {%endblock%}
</div>