<div style="background-color: darkgrey;">
    {% extends 'base/navbar.html'%}
{%load static %}

{% block body%}

 <div class="container">
        <div class="container" style="background-color: #fff; margin-top: 10%; padding: 10px 15px; width:fit-content ; height:fit-content">
            <div class="text-center">
                <h2>Reset Password</h2>
                <hr/>
            </div><br/>
              {% for message in messages%}

                    <div class="alert {{message.tags}} alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="True">&times;</span>
                      </button>
                      &nbsp;{{message}}

                  </div>
                   {%endfor%}
            <form class="mt-5" method="post"  onsubmit="submmit()" action="{% url 'base:forgetPassword'%}">
                {% csrf_token %}

                <label><strong>Enter your registered Phone Number</strong> </label>
                <input type="tel" class="login-input form-control-md" name="number" id="email" required>
                            <br>
                <input type="submit" class="btn btn-success" id="subb" style="width:100%"  value="Submit"  name="" >





            </form>
        </div>

    </div>




<script>
 function submmit(){

var sub= document.getElementById("subb");
sub.value='Loading....';
sub.disabled=true;


 }

</script>

{% endblock%}
</div>
