<div style="background-color: darkgrey;">
    {% extends 'base/navbar.html'%}
{%load static %}

{% block body%}

 <div class="container">
        <div class="container" style="background-color: #fff; margin-top: 10%; padding: 10px 15px; width:fit-content ; height:fit-content">
            <div class="text-center">
                <h2>Signup Account</h2>
            </div>
            <br/>
              {% for message in messages%}

                    <div class="alert {{message.tags}} alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="True">&times;</span>
                      </button>
                      &nbsp;{{message}}

                  </div>
                   {%endfor%}
            <form class="mt-5" method="post" onsubmit="submmit()" action="{% url 'base:signup' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <label for=""><strong>Full name</strong> </label><br/>

                <input type="text" class="login-input" name="full-name" ><br/>



                <label for=""><strong>Email Address</strong> </label><br/>
                <input type="text" class="login-input" name="email" >



                <br/><br/>
                <label for=""><strong>Phone number</strong> </label><br/>
                <input type="text" class="login-input" name="number" >
                <br><br>
                <label ><b>NIN slip:</b></label>
                <input class="login-input" type="file" autocomplete="off"   name="nin"  accept="application/jpeg, application/png"><br/>
                <label ><b>Gender:</b></label>
                <select class="login-input" name="gender" id="e"  style="display: block; margin-top:12px ;" required>
                           <option value="Male">Male</option>
                           <option value="Female">Female</option>
                </select><br/>
                <label ><b>Password:</b></label>
                <input class="login-input form-control-md" type="password" autocomplete="off" placeholder="Enter your Password"  name="password" id="password" required><br/>

                <label ><b>Confirm Password:</b></label>
                <input class="login-input form-control-md" type="password" autocomplete="off" placeholder="Enter your secret Password again"  name="confirm_password" id="confirm" required>


                <hr>

                <br/>
                <input type="submit" class="btn btn-success"  id="subb" value="SignUp now" name="" id="">
                    <div class="text-right" style="padding: 10px 15px;">
                        <a href="" class="text-right">Forgot Password</a><br/>

                    </div>


                <span  style="margin-top: 12px;">Already have an account</span>&nbsp;<a href="{% url 'base:login'%}">Login</a>

            </form>
        </div>

    </div>




<script>
    function submmit(){

var sub= document.getElementById("subb");
sub.value='Loading....';
sub.disabled=true;


 }
</script>

{% endblock%}
</div>
