<div style="background-color: darkgrey;">
    {% extends 'base/navbar.html'%}
{%load static %}

{% block body%}

 <div class="container">
        <div class="container" style="background-color: #fff; margin-top: 10%; padding: 10px 15px; width:fit-content ; height:fit-content">
            <div class="text-center">
                <h2>Signup Account</h2>
            </div>
            <hr/>
            <br/>
              {% for message in messages%}

                    <div class="alert {{message.tags}} alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="True">&times;</span>
                      </button>
                      &nbsp;{{message}}

                  </div>
                   {%endfor%}
            <form class="mt-5" method="post" onsubmit="submmit()" action="{% url 'base:signup' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <label for=""><strong>Full name</strong> </label><br/>

                <input type="text" class="login-input" name="full-name" required><br/>

                 <label for=""><strong>State</strong> </label><br/>
                <input class="login-input" id="states" name="state" required />


                <br/>
                 <label for=""><strong>Local Government Area</strong> </label><br/>
                <input class="login-input" id ='lgas' name="lga" required>


                <br/>

                <label for=""><strong>Home Address</strong> </label><br/>
                <input type="text" class="login-input" name="home" required >
                <br>

                <label for=""><strong>Email Address</strong> </label><br/>
                <input type="text" class="login-input" name="email" required >



                <br/>
                <label for=""><strong>Phone number</strong> </label><br/>
                <input type="tel" class="login-input" name="number" required >
                <br>

                <label ><b>Gender:</b></label>
                <select class="login-input" name="gender" id="e"  style="display: block; margin-top:12px ;" required>
                           <option value="Male">Male</option>
                           <option value="Female">Female</option>
                </select><br/>
                <div class="d-flex">
                    <label for=""><strong>Password</strong> </label>  <span class="ml-auto btn" id="show1"  onclick="paas('password1','show1')" style="">Show Password</span>

                </div>
                <input class="login-input form-control-md" type="password" autocomplete="off" placeholder="Enter your Password"  name="password" id="password1" required><br/>

                 <div class="d-flex">
                                <label for=""><strong>Confirm Password</strong> </label>  <span class="ml-auto btn" id="show2"  onclick="paas('password2','show2')" style="">Show Password</span>

                            </div>
                <input class="login-input form-control-md" type="password" autocomplete="off" placeholder="Enter your secret Password again"  name="confirm_password" id="password2" required>


                <hr>

                <br/>
                <input type="submit" class="btn btn-success"  id="subb" value="SignUp now" name="" id="">
<br/><br/>

                <span  style="margin-top: 12px;">Already have an account</span>&nbsp;<a href="{% url 'base:login'%}">Login</a>

            </form>
        </div>

    </div>





<script>
    function submmit(){

var sub= document.getElementById("subb");
sub.value='Loading....';
sub.disabled=true;
}
count=0;

function paas(id1, id2){
count++
var p1=id1
var p2=id2
 var txt= document.getElementById(p1);
  var hide= document.getElementById(p2);
 switch(count){
 case 1:
  txt.type='text';
  hide.innerHTML='Hide Password';
    break;
 case 2:
 txt.type='password';
 hide.innerHTML='Show  Password';
 count=0;
 break;}


 }


</script>

{% endblock%}
</div>
